@import '~bootstrap/scss/bootstrap';

$background-color: #65DEF1;
$font-color: #F96900;
$white: #fff;
$grey: rgb(128, 128, 128);
$teal: rgb(0, 156, 161);
$black: #000;
$brightOrange: #F96900;
$lightBlue: #65DEF1;
$darkblue: #141891;
$gold: #FFD700;
$purple: #800080;
$kesselrun1: #58c3dc;
$gray: #6c757d;

.hidden {
  visibility: hidden;
}


.unclickable {
  pointer-events: none;
}

.clickable {
  pointer-events: auto;
}

.unhide {
  visibility: visible;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;

}

body {
  background-color: $kesselrun1;
}

.box {
  align-items: center;
  border: 5px solid gray;
  cursor: pointer;
  color: $font-color;
  display: flex;
  height: 80px;
  justify-content: center;
}

.hover {
  background-color: $brightOrange;
}

.darkblue {
  background-color: $darkblue;
}

.brightOrange {
  background-color: $brightOrange;
}

.gold {
  background-color: $gold;
}

.purple {
  background-color: $purple;
}
